<h1>Blogs</h1>

{% for category, blogs in blogs_by_category.items %}
    <h2>{{ category.name }}</h2>
    <ul>
        {% for blog in blogs %}
            <li>
                <h3>{{ blog.title }}</h3>
                {% if blog.image %}
                    <img src="{{ blog.image.url }}" alt="{{ blog.title }}" style="max-width: 200px;">
                {% endif %}
                <p>{{ blog.summary|truncatewords:15 }}</p>
            </li>
        {% endfor %}
    </ul>
{% endfor %}


<a href="{% url 'patient_dashboard' %}">
    <button>go back</button>