<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        {% if form.errors %}
            <ul style="color: red;">
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <button type="submit">Signup</button>
    </form>
</body>
</html>
